body {
    background-color: black;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0;
}

.ShowPasswordButton {
    width: 100%;
    background-color: firebrick;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.SignUpButton {
    width: 100%;
    background-color: firebrick;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ShowPasswordButton:hover {
    background-color: darkred;
}

.SignUpButton:hover {
    background-color: darkred;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    form {
        width: 70%;
    }
}

@media (min-width: 801px) {
    form {
        width: 50%;
    }
}

@media (min-width: 601px) {
    form {
        display: flex;
        flex-wrap: wrap;
    }

    label,
    input {
        width: 100%;
    }

    label {
        flex: 0 0 25%;
    }

    input {
        flex: 0 0 75%;
    }
}